.mainHeader {
  background-color: gray;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
}

.headerNavigation {
  display: flex;
  align-items: center;
}
.headerNavigationItem:not(:last-child) {
  margin-right: 20px;
}
.headerNavigationItem {
  cursor: pointer;
  &:hover {
    color: cornflowerblue;
  }
}
.headerNavigationItemActive {
  color: cornflowerblue;
}
